# ==============================================================================
# NEXUS MONITOR ENTERPRISE - INVENTÁRIO LINHAS 11 E 12
# ==============================================================================
ILOM;ilom1;100.105.14.87;root;hardware;ILOM;do;Servidor;1
ILOM;ilom2;100.105.14.89;root;hardware;ILOM;do;Servidor;2
CONTROL;control1;100.105.14.86;root;control_domain;Control;Domain;(l12svr1)
CONTROL;control2;100.105.14.88;root;control_domain;Control;Domain;(l12svr2)
LDOM;ldom1;100.105.14.110;root;virtualizacao;LDOM;l12svr1(vnet4)
LDOM;ldom1;101.105.14.110;root;virtualizacao;LDOM;l12svr1;(vnet8)
LDOM;ldom2;100.105.14.210;root;virtualizacao;LDOM;l12svr2;(vnet4)
LDOM;ldom2;101.105.14.210;root;virtualizacao;LDOM;l12svr2;(vnet8)
ZONE_FIXA;sft1;100.105.14.1;prodix;servidor;LDOM1;VM;Servidor;Alça;Norte;(sft1)
ZONE_FIXA;sft1b;101.105.14.1;prodix;servidor;LDOM1;VM;Servidor;Alça;Norte;(sft1b)
ZONE_FIXA;sft2;100.105.14.2;prodix;servidor;LDOM2;VM;Servidor;Alça;Norte;(sft2)
ZONE_FIXA;sft2b;101.105.14.2;prodix;servidor;LDOM2;VM;Servidor;Alça;Norte;(sft2b)
ZONE_FIXA;metrosp44;100.102.76.44;prodix;servidor;METROSP44;Vms;Servidores;(metrosp44);(vnet4)
ZONE_FIXA;metrosp44b;101.102.76.44;prodix;servidor;METROSP44;Vms;Servidores;(metrosp44b);(vnet8)
ZONE_FIXA;metrosp45;100.102.76.45;prodix;servidor;METROSP45;Vms;Servidores;(metrosp45);(vnet4)
ZONE_FIXA;metrosp45b;101.102.76.45;prodix;servidor;METROSP45;Vms;Servidores;(metrosp45b);(vnet8)
ZONE_MOVEL;sme3;100.105.14.7;prodix;console;engenharia;VM;IHM;AN;sme3
ZONE_MOVEL;sme3b;101.105.14.7;prodix;console;engenharia;VM;IHM;AN;sme3b
ZONE_MOVEL;cons1;100.105.14.9;prodix;console;EBILOCK;VM;IHM;AN;cons1
ZONE_MOVEL;cons1b;101.105.14.9;prodix;console;EBILOCK;VM;IHM;AN;cons1b
ZONE_MOVEL;cons5;100.105.14.13;prodix;console;MICROLOCK;VM;IHM;Movel;Cons5
ZONE_MOVEL;cons5b;101.105.14.13;prodix;console;MICROLOCK;VM;IHM;Movel;Cons5b
ZONE_MOVEL;cptm1;100.100.100.101;prodix;console;CONA;VM;IHM;cptm1
ZONE_MOVEL;cptm1b;101.100.100.101;prodix;console;CONA;VM;IHM;cptm1b
ZONE_MOVEL;cptm2;100.100.100.102;prodix;console;CONB;VM;IHM;cptm2
ZONE_MOVEL;cptm2b;101.100.100.102;prodix;console;CONB;VM;IHM;cptm2b
ZONE_MOVEL;cptm3;100.100.100.103;prodix;console;CONC;VM;IHM;cptm3
ZONE_MOVEL;cptm3b;101.100.100.103;prodix;console;CONC;VM;IHM;cptm3b
ZONE_MOVEL;cptm4;100.100.100.104;prodix;console;manutencao;VM;IHM;cptm4
ZONE_MOVEL;cptm4b;101.100.100.104;prodix;console;manutencao;VM;IHM;cptm4b
ZONE_MOVEL;cptm12;100.100.100.112;prodix;console;CONS;VM;IHM;cptm12
ZONE_MOVEL;cptm12b;101.100.100.112;prodix;console;CONS;VM;IHM;cptm12b
WS;ws12;100.105.14.72;prodix;controlador;EBILOCK;cons1;Workstation;ws12;(Alça;Norte)
WS;ws12;101.105.14.72;prodix;controlador;EBILOCK;cons1b;Workstation;ws12;(Alça;Norte);
WS;ws23;100.100.100.43;prodix;controlador;CONA;cptm1;Workstation;ws23;Linhas;11/12
WS;ws23;101.100.100.43;prodix;controlador;CONA;cptm1b;Workstation;ws23;Linhas;11/12
WS;ws24;100.100.100.44;prodix;controlador;CONB;cptm2;Workstation;ws24;Linhas;11/12
WS;ws24;101.100.100.44;prodix;controlador;CONB;cptm2b;Workstation;ws24;Linhas;11/12
WS;ws25;100.100.100.45;prodix;controlador;CONC;cptm3;Workstation;ws25;Linhas;11/12
WS;ws25;101.100.100.45;prodix;controlador;CONC;cptm3b;Workstation;ws25;Linhas;11/12
WS;ws22;100.100.100.42;prodix;controlador;CONS;cptm12;Workstation;ws23;Linhas;11/12
WS;ws22;101.100.100.42;prodix;controlador;CONS;cptm12b;Workstation;ws23;Linhas;11/13
WS;ws11;100.105.14.71;prodix;engenharia;sme3;KONTRONKISS;Workstation;ws11;(Alça;Norte)
WS;ws11;101.105.14.71;prodix;engenharia;sme3b;KONTRONKISS;Workstation;ws11;(Alça;Norte)
WS;ws13;100.105.14.73;prodix;controlador;cons5;MICROLOCK;KONTRONKISS;Workstation;ws13;(Alça;Norte)
WS;ws13;101.105.14.73;prodix;controlador;cons5b;MICROLOCK;KONTRONKISS;Workstation;ws13;(Alça;Norte)
WS;ws21;100.100.100.41;prodix;manutencao;cptm4;KONTRONKISS;Workstation;ws21;Linhas;11/12
WS;ws21;101.100.100.41;prodix;manutencao;cptm4b;KONTRONKISS;Workstation;ws21;Linhas;11/12
