# ==============================================================================
# NEXUS MONITOR ENTERPRISE - INVENTÁRIO LINHAS 11 E 12
# ==============================================================================
ILOM;ilom1;192.0.2.13;root;hardware;ILOM;do;Servidor;1
ILOM;ilom2;192.0.2.14;root;hardware;ILOM;do;Servidor;2
CONTROL;control1;192.0.2.11;root;control_domain;Control;Domain;(l12svr1)
CONTROL;control2;192.0.2.12;root;control_domain;Control;Domain;(l12svr2)
LDOM;ldom1;192.0.2.15;root;virtualizacao;LDOM;l12svr1(vnet4)
LDOM;ldom1;192.0.2.16;root;virtualizacao;LDOM;l12svr1;(vnet8)
LDOM;ldom2;192.0.2.17;root;virtualizacao;LDOM;l12svr2;(vnet4)
LDOM;ldom2;192.0.2.18;root;virtualizacao;LDOM;l12svr2;(vnet8)
ZONE_FIXA;sft1;192.0.2.19;prodix;servidor;LDOM1;VM;Servidor;Alça;Norte;(sft1)
ZONE_FIXA;sft1b;192.0.2.20;prodix;servidor;LDOM1;VM;Servidor;Alça;Norte;(sft1b)
ZONE_FIXA;sft2;192.0.2.21;prodix;servidor;LDOM2;VM;Servidor;Alça;Norte;(sft2)
ZONE_FIXA;sft2b;192.0.2.22;prodix;servidor;LDOM2;VM;Servidor;Alça;Norte;(sft2b)
ZONE_FIXA;metrosp44;192.0.2.23;prodix;servidor;METROSP44;Vms;Servidores;(metrosp44);(vnet4)
ZONE_FIXA;metrosp44b;192.0.2.24;prodix;servidor;METROSP44;Vms;Servidores;(metrosp44b);(vnet8)
ZONE_FIXA;metrosp45;192.0.2.25;prodix;servidor;METROSP45;Vms;Servidores;(metrosp45);(vnet4)
ZONE_FIXA;metrosp45b;192.0.2.26;prodix;servidor;METROSP45;Vms;Servidores;(metrosp45b);(vnet8)
ZONE_MOVEL;sme3;192.0.2.27;prodix;console;engenharia;VM;IHM;AN;sme3
ZONE_MOVEL;sme3b;192.0.2.28;prodix;console;engenharia;VM;IHM;AN;sme3b
ZONE_MOVEL;cons1;192.0.2.29;prodix;console;EBILOCK;VM;IHM;AN;cons1
ZONE_MOVEL;cons1b;192.0.2.30;prodix;console;EBILOCK;VM;IHM;AN;cons1b
ZONE_MOVEL;cons5;192.0.2.31;prodix;console;MICROLOCK;VM;IHM;Movel;Cons5
ZONE_MOVEL;cons5b;192.0.2.32;prodix;console;MICROLOCK;VM;IHM;Movel;Cons5b
ZONE_MOVEL;cptm1;192.0.2.33;prodix;console;CONA;VM;IHM;cptm1
ZONE_MOVEL;cptm1b;192.0.2.34;prodix;console;CONA;VM;IHM;cptm1b
ZONE_MOVEL;cptm2;192.0.2.35;prodix;console;CONB;VM;IHM;cptm2
ZONE_MOVEL;cptm2b;192.0.2.36;prodix;console;CONB;VM;IHM;cptm2b
ZONE_MOVEL;cptm3;192.0.2.37;prodix;console;CONC;VM;IHM;cptm3
ZONE_MOVEL;cptm3b;192.0.2.38;prodix;console;CONC;VM;IHM;cptm3b
ZONE_MOVEL;cptm4;192.0.2.39;prodix;console;manutencao;VM;IHM;cptm4
ZONE_MOVEL;cptm4b;192.0.2.40;prodix;console;manutencao;VM;IHM;cptm4b
ZONE_MOVEL;cptm12;192.0.2.41;prodix;console;CONS;VM;IHM;cptm12
ZONE_MOVEL;cptm12b;192.0.2.42;prodix;console;CONS;VM;IHM;cptm12b
WS;ws12;192.0.2.43;prodix;controlador;EBILOCK;cons1;Workstation;ws12;(Alça;Norte)
WS;ws12;192.0.2.44;prodix;controlador;EBILOCK;cons1b;Workstation;ws12;(Alça;Norte);
WS;ws23;192.0.2.45;prodix;controlador;CONA;cptm1;Workstation;ws23;Linhas;11/12
WS;ws23;192.0.2.46;prodix;controlador;CONA;cptm1b;Workstation;ws23;Linhas;11/12
WS;ws24;192.0.2.47;prodix;controlador;CONB;cptm2;Workstation;ws24;Linhas;11/12
WS;ws24;192.0.2.48;prodix;controlador;CONB;cptm2b;Workstation;ws24;Linhas;11/12
WS;ws25;192.0.2.49;prodix;controlador;CONC;cptm3;Workstation;ws25;Linhas;11/12
WS;ws25;192.0.2.50;prodix;controlador;CONC;cptm3b;Workstation;ws25;Linhas;11/12
WS;ws22;192.0.2.51;prodix;controlador;CONS;cptm12;Workstation;ws23;Linhas;11/12
WS;ws22;192.0.2.52;prodix;controlador;CONS;cptm12b;Workstation;ws23;Linhas;11/13
WS;ws11;192.0.2.53;prodix;engenharia;sme3;KONTRONKISS;Workstation;ws11;(Alça;Norte)
WS;ws11;192.0.2.54;prodix;engenharia;sme3b;KONTRONKISS;Workstation;ws11;(Alça;Norte)
WS;ws13;192.0.2.55;prodix;controlador;cons5;MICROLOCK;KONTRONKISS;Workstation;ws13;(Alça;Norte)
WS;ws13;192.0.2.56;prodix;controlador;cons5b;MICROLOCK;KONTRONKISS;Workstation;ws13;(Alça;Norte)
WS;ws21;192.0.2.57;prodix;manutencao;cptm4;KONTRONKISS;Workstation;ws21;Linhas;11/12
WS;ws21;192.0.2.58;prodix;manutencao;cptm4b;KONTRONKISS;Workstation;ws21;Linhas;11/12
